.container{
    text-align: center;
}
.secondary_header{
    display: inline-block;
    text-align: left;
}
.left_article{
    display: inline-block;
    text-align: left;
}
body{
    background-color: #cce6ff;
}